{%  extends 'base.html' %}

{% block content %}
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">OpenInfra 세계로 로그인하기</h1>
    </div>
</section>
<!--End Page Title-->

<section class="gallery-section">
    <div class="auto-container text-center">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="btn-box">
                    <a href="/login/github" class="theme-btn btn-style-three"><span class="btn-title">Github Login</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
