{% load static %}

<header class="main-header header-style-two">
    <div class="main-box">
        <div class="auto-container clearfix">
            <div class="logo-box">
                <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="" title="OpenInfra"></a></div>
            </div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="{{ about_current }} "><a href="/about">About</a></li>
                            <li><a href="https://openinfra.dev/legal/code-of-conduct" target="_blank">Code of Conduct</a> </li>

                            <li class="{{ sponsor_current }}"><a href="/sponsors">Sponsors</a></li>

                            <li class="{{ schedule_current }} dropdown"><a href="#">Schedule</a>
                                <ul>
                                    <li><a href="/schedule/session">Session Schedule</a></li>
                                    <li><a href="/schedule/sponsornight">Sponsor's Night</a></li>
                                    <li><a href="/schedule/bof">BoF</a></li>
                                </ul>
                            </li>
                            <li class="{{ program_current }} dropdown"><a href="#">Program</a>
                                <ul>
                                    <li><a href="/program/sponsornight">Sponsor's Night</a></li>
                                    <li><a href="/program/bof">BoF</a></li>
                                </ul>
                            </li>
                            <li class="{{ virtualbooth_current }}"><a href="/virtualbooth">Virtualbooth</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="outer-box">
                    <!-- Button Box -->
                    <div class="btn-box">
                        {%  if not request.user.is_authenticated %}
                        <a href="/login" class="theme-btn btn-style-one"><span class="btn-title">Login</span></a>
                        {%  else %}
                            <a href="/profile" class="theme-btn btn-style-one"><span class="btn-title">Profile</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>

        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>

            <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
        </nav>
    </div><!-- End Mobile Menu -->
</header>